The Zywa Transactions data is present in MYSQL database. So connecting to the database and running the below SQL queries.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
  database="practice"
)

Q1. Need how much amount we have processed each month commutative and every month.

In [ ]:
sql= """ SELECT MONTHNAME(STR_TO_DATE(TRANSACTION_TIMESTAMP, '%m/%d/%y %H:%i')) MNTH_NME,
MONTH(STR_TO_DATE(TRANSACTION_TIMESTAMP, '%m/%d/%y %H:%i')) MNTH_NUM ,
SUM(BILLING_AMOUNT) MONTHLY_BILL
FROM TRANSACTIONS
GROUP BY MNTH_NME,
MNTH_NUM
"""
mycursor=mydb.cursor()
mycursor.execute(sql)

Q2. **Most Popular Products/Services:**

Design a SQL query to identify the top 5 most popular products or services based on transaction counts.

In [ ]:
sql= """ SELECT MERCHANT_TYPE AS PRODUCT_SERVICES, COUNT(ID) NUM_TRNSCTNS FROM
TRANSACTIONS
GROUP BY PRODUCT_SERVICES
ORDER BY NUM_TRNSCTNS DESC
LIMIT 5
"""
mycursor=mydb.cursor()
mycursor.execute(sql)

Q3. **Daily Revenue Trend:**

Formulate a SQL query to visualize the daily revenue trend over time.

In [ ]:
sql= """SELECT DATE(STR_TO_DATE(TRANSACTION_TIMESTAMP, '%m/%d/%y %H:%i')) AS DTE
,SUM(BILLING_AMOUNT) BILLING_AMOUNT FROM TRANSACTIONS
GROUP BY DTE
ORDER BY DTE
"""
mycursor=mydb.cursor()
mycursor.execute(sql)

Q4. **Average Transaction Amount by Product Category:**

Formulate a SQL query to find the average transaction amount for each product category.

In [ ]:
sql= """SELECT MERCHANT_TYPE AS PRODUCT_CATEGORY,
AVG(TRANSACTION_AMOUNT) AVG_TRNSCTN_AMNT
FROM TRANSACTIONS
GROUP BY PRODUCT_CATEGORY
ORDER BY AVG_TRNSCTN_AMNT DESC
"""
mycursor=mydb.cursor()
mycursor.execute(sql)

Q5. **Transaction Funnel Analysis:**

Create a SQL query to analyze the transaction funnel, including completed, pending, and cancelled transactions.

In [ ]:
sql= """SELECT TRANSACTION_STATUS,COUNT(ID) TRNSCTN_COUNT FROM TRANSACTIONS
GROUP BY TRANSACTION_STATUS
ORDER BY TRNSCTN_COUNT DESC
"""
mycursor=mydb.cursor()
mycursor.execute(sql)